body {
    background-color: burlywood;
}
.article {
    width: 280px;
    cursor: pointer;
}
.author-span {
    padding-right: .5rem;
}
.author-span:hover {
    color: lightblue;
}
.form-check {
    margin-bottom: .5rem;
}
.tag-list .toggle {
    margin-right: .75rem;
    margin-bottom: .5rem;
}