body {
    background-color: burlywood;
}
.article {
    width: 280px;
    cursor: pointer;
}
a.article {
    text-decoration: none;
    color: inherit;
}
.author-span {
    padding-right: .5rem;
}
.author-span:hover {
    color: lightblue;
}
.form-check {
    margin-bottom: .5rem;
}
.tag-list .toggle {
    margin-right: .75rem;
    margin-bottom: .5rem;
}
.copy-link {
    cursor: pointer;
    width: 1.25rem;
    margin-left: 0.5rem;
    margin-top: 0.35rem;
}
#article-detail-body p.indent {
    text-indent: 2em;
}
#article-detail-body p.chapter {
    padding-top: 1rem;
}